<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>RestKitCoreData.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RestKitJSONParser+JSONKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RestKitJSONParser+SBJSON.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RestKitJSONParser+YAJL.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RestKitNetwork.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RestKitObjectMapping.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RestKitSupport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>RestKitThree20.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>RestKitXMLParser+libxml.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>UISpec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2523360411E79F090048F9B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>253A07FB1255161B00976E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>253A08021255162C00976E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>253A080B12551D3000976E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>253A081312551D5300976E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>255B7588133BABBF00ED76AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2590E64E125231F600531FA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2590E66A1252353700531FA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>259DF7791340290600233DF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F6C39A410FE5C95008F47C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73057FD01331AD2E001908EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
